[submodule "vendor/logos-cpp-sdk"]
	path = vendor/logos-cpp-sdk
	url = https://github.com/logos-co/logos-cpp-sdk
[submodule "vendor/logos-liblogos"]
	path = vendor/logos-liblogos
	url = https://github.com/logos-co/logos-liblogos
[submodule "vendor/logos-storage-module"]
	path = vendor/logos-storage-module
	url = https://github.com/logos-co/logos-storage-module
[submodule "vendor/logos-storage-nim"]
	path = vendor/logos-storage-nim
	url = https://github.com/logos-storage/logos-storage-nim
[submodule "logos-design-system"]
	path = logos-design-system
	url = https://github.com/logos-co/logos-design-system
